{# @SyliusShop/Checkout/_header.html.twig #}

<div class="ui basic segment">
    <div class="ui large text menu">
        <div class="ui small image">
            <a href="{{ path('sylius_shop_homepage') }}"><img src="{{ asset('build/img/logo.png') }}" alt="Aus logo" /></a>
        </div>
        <div class="right menu">
            {% if order.customer.id|default(null) is not null %}
                <div class="item" id="purchaser-email">{{ 'sylius.ui.checking_out_as'|trans }} {{ order.customer.fullName|default(order.customer.email) }}.</div>
            {% else %}
                <a href="{{ path('sylius_shop_login') }}" class="item">{{ 'sylius.ui.sign_in'|trans }}</a>
            {% endif %}
        </div>
    </div>
</div>
