{# @SyliusShop/Checkout/_support.html.twig #}

<h2 class="ui center aligned icon header">
    <i class="circular phone icon"></i>
    <a href="tel:+79059499111">8 905 949 91 11</a>
    <span class="sub header">
        {{ 'sylius.ui.need_assistance'|trans }} {{ 'sylius.ui.call_us'|trans }}
    </span>
</h2>

<div class="ui divider"></div>

<div class="ui center aligned basic segment">
    <i class="huge cc mastercard icon"></i>
    <i class="huge cc visa icon"></i>
</div>
