<div id="sylius-cart-button" class="ui circular cart button">
    <i class="cart icon"></i>
    <span id="sylius-cart-total">
        {{ cart.items_total }}
    </span>
    {% transchoice cart.item_list|length %}sylius.ui.item.choice{% endtranschoice %}
</div>
<div class="ui large flowing cart hidden popup">
    {% if cart.item_list is empty %}
        {{ 'sylius.ui.your_cart_is_empty'|trans }}.
    {% else %}
        <div class="ui list">
            {% for item in cart.item_list %}
                <div class="item">{{ item.quantity }} x <strong>{{ item.name }}</strong> {{ item.unit_price }}</div>
            {% endfor %}
            <div class="item"><strong>{{ 'sylius.ui.subtotal'|trans }}</strong>: {{ cart.items_total }}</div>
        </div>
        <a href="{{ path('sylius_shop_cart_summary') }}" class="ui fluid basic text button">{{ 'sylius.ui.view_and_edit_cart'|trans }}</a>
        <div class="ui divider"></div>
        <a href="{{ path('sylius_shop_checkout_start') }}" class="ui fluid primary button">{{ 'sylius.ui.checkout'|trans }}</a>
    {% endif %}
</div>
