{# @SyliusShop/Checkout/Address/_navigation.html.twig #}

<div class="ui checkbox container">
    {{ form_widget(form.privacy_policy_terms_of_use) }}
    <label for="sylius_checkout_address_privacy_policy_terms_of_use">
        Оформляя заказ, я подтверждаю, что принимаю <a target="_blank" href="{{ path('app_footer_privacypolicy') }}">политику конфиденциальности</a> и <a target="_blank" href="{{ path('app_footer_termsofuse') }}">пользовательское соглашение</a>.
    </label>
    {{ form_errors(form.privacy_policy_terms_of_use) }}
</div>

<div class="ui hidden divider"></div>

<div class="ui two column grid">
    <div class="column">
        <a href="{{ path('sylius_shop_homepage') }}" class="ui large icon labeled button"><i class="arrow left icon"></i> {{ 'sylius.ui.back_to_store'|trans }}</a>
    </div>
    <div class="right aligned column">
        <button type="submit" id="next-step" class="ui large primary icon labeled button"><i class="arrow right icon"></i> {{ 'sylius.ui.next'|trans }}</button>
    </div>
</div>
