{# @SyliusShop/_footer.html.twig #}

<footer id="footer" class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted divided equal height stackable grid">
            {{ sonata_block_render_event('sylius.shop.layout.before_footer') }}

            <div class="three wide column">
                <h4 class="ui inverted header">&copy; {{ 'sylius.ui.your_store'|trans }}</h4>
                <div class="ui inverted link list">
                    <a href="{{ path('app_footer_about') }}" class="item">{{ 'sylius.ui.about'|trans }}</a>
                    <a href="{{ path('app_footer_termsofuse') }}" class="item">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
                    <a href="{{ path('app_footer_publicoffer') }}" class="item">{{ 'sylius.ui.public_offer'|trans  }}</a>
                    <a href="{{ path('app_footer_privacypolicy') }}" class="item">{{ 'sylius.ui.privacy_policy'|trans }}</a>
                    <a href="{{ path('app_footer_paymentanddelivery') }}" class="item">{{ 'sylius.ui.payment_and_delivery'|trans }}</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">{{ 'sylius.ui.customer_care'|trans  }}</h4>
                <div class="ui inverted link list">
                    <a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact_us'|trans  }}</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">{{ 'sylius.ui.payment_methods'|trans }}</h4>
                <i class="huge inverted cc mastercard icon"></i>
                <i class="huge inverted cc visa icon"></i>
            </div>

            {{ sonata_block_render_event('sylius.shop.layout.after_footer') }}
        </div>
    </div>
</footer>
