{# @SyliusShop/error403.html.twig #}

{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="ui center aligned icon header">
        <img src="{{ asset('build/img/logo.png') }}" alt="Aus logo" class="ui small image" />
        <br/><br/>
        {{ 'sylius.ui.the_page_you_are_looking_for_is_forbidden'|trans }}
    </h2>

{% endblock %}
