{# @SyliusShop/error.html.twig #}

{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="ui center aligned icon header">
        <img src="{{ asset('build/img/logo.png') }}" alt="Aus logo" class="ui small image" />
        <br/><br/>
        {{ 'sylius.ui.unexpected_error_occurred'|trans }}
    </h2>

{% endblock %}
