{# @SyliusAdmin/Shipment/Partial/_ship.html.twig #}

<div class="ui segment">
    {{ form_start(form, {'action': path('sylius_admin_order_shipment_ship', configuration.vars.route.parameters), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
    <input type="hidden" name="_method" value="PUT">
    <div class="ui fluid action input">
        {{ form_widget(form.tracking, {'attr': {'placeholder': 'sylius.ui.tracking_code'|trans ~ '...'}}) }}
    </div>
    <button type="submit" class="ui labeled icon fluid teal button"><i class="plane icon"></i> {{ 'sylius.ui.ship'|trans }}</button>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
