{# @SyliusShop/Homepage/index.html.twig #}

{% extends '@SyliusShop/layout.html.twig' %}

{% block header %}
    <header>
        <div class="ui basic segment">
            <div class="ui three column stackable grid">
                <div class="column">
                    <a href="{{ path('sylius_shop_homepage') }}"><img src="{{ asset('build/img/logo.png') }}" alt="Aus logo" class="ui small image" /></a>
                </div>
                <div class="column">
                </div>
                <div class="right aligned column">
                    {% include 'Shop/Cart/_widget.html.twig' %}
                </div>
            </div>
        </div>

        {% include 'Shop/Taxon/_horizontalMenu.html.twig' %}
    </header>
{% endblock %}

{% block content %}
    <h2 class="ui horizontal section divider header">
        {{ 'sylius.ui.latest_products'|trans }}
    </h2>

    <div class="ui four doubling cards">
        {% for product in latest_product_list %}
            {% include 'Shop/Product/_box.html.twig' %}
        {% endfor %}
    </div>

    <div class="ui segment">
        <a class="fluid ui button positive huge" href="{{ root_taxon_url }}">Смотреть все товары</a>
    </div>
{% endblock %}
