{% extends '@SyliusShop/layout.html.twig' %}

{% block metatags %}
    {% set meta_title = 'Shop AUS - интернет-магазин цифровой и бытовой техники и электроники, низкие цены, большой каталог, отзывы. - Информация о компании — Shop AUS - Кемерово' %}
    {% set meta_keyword = 'shop aus, shop-aus, shopaus, шоп аус, шопаус, каталог шоп аус, каталог товаров шоп аус, товары шоп аус, сеть магазинов шоп аус, интернет-магазин шоп аус, бытовая техника, бытовая электроника, адреса магазинов shop aus, shop aus цены, продажа в шоп аус, доставка, телевизоры, ноутбуки, компьютеры apple, планшеты,, сотовые телефоны, смартфоны, коммуникаторы, фотоаппараты, Кемерово' %}
    {% set meta_description = 'Бытовая техника и электроника по доступным ценам в интернет-магазине Shop AUS и сети магазинов города Кемерово. Заказ товаров по телефону 8 (905) 949 91 11. Акции и скидки в Shop AUS.' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h2 class="ui icon center aligned header">
        <i class="info circle icon"></i>
        <div class="content">
            {{ 'sylius.ui.about'|trans }}
            <div class="ui hidden divider"></div>
            <div class="sub header">{{ 'sylius.ui.your_store'|trans }}</div>
            <div class="sub header">г.Кемерово, пр.Ленинградский 21, email:<a href="mailto:kuztg69@mail.ru">kuztg69@mail.ru</a>, тел. <a href="tel:+79059499111">8 905 949 91 11</a>. ОГРН: 313420526100013. ИНН: 420501763832</div>
            <div class="sub header">Время работы с 10.00 до 20.00 (понедельник–пятница), суббота: с 10 до 18.00, воскресение-выходной</div>
        </div>
    </h2>
    <div class="ui segment">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9b79f821258feca876638ceaed7eea73ac13f8fda81c9657bac5416e09a4a99b&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
{% endblock %}
