{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
<script src="https://kassa.yandex.ru/checkout-ui/v2.js"></script>

<div class="ui segment">
    <div id="payment-form"></div>
</div>

<script>
    const checkout = new window.YandexCheckout({
        confirmation_token: '{{ confirmation_token }}',
        return_url: '{{ return_url }}',
        error_callback(error) {
        }
    });

    checkout.render('payment-form');
</script>
{% endblock %}