<link rel="icon" href="{{ absolute_url(asset('favicon.ico')) }}" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="{{ absolute_url(asset('apple-touch-icon.png')) }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ absolute_url(asset('favicon-32x32.png')) }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ absolute_url(asset('favicon-16x16.png')) }}">
<link rel="manifest" href="{{ absolute_url(asset('site.webmanifest')) }}">
<link rel="mask-icon" href="{{ absolute_url(asset('safari-pinned-tab.svg')) }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

{% if app.environment == 'prod' %}
    {% include 'Shop/metric.html.twig' %}
{% endif %}
