<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
<meta http-equiv="Content-Language" content="{{ app.request.locale }}">
<meta name=”robots” content="index, follow">

{% if product is defined %}
    {% set meta_title = 'Купить ' ~ product.name ~ ' в каталоге интернет магазина ' ~ 'sylius.ui.store_name'|trans ~ ', по выгодной цене с доставкой, отзывы, фотографии' %}
    {% set meta_keyword = product.metaKeywords ~ ',' ~ product.name ~ ' купить,' ~ product.name ~ ' цена,' ~ product.name ~ ' интернет магазин,' ~ product.name ~ ' продажа,' ~ product.name ~ ' заказ,' ~ product.name ~ ' доставка,' ~ product.name ~ ' в подарок,' ~ product.name ~ ' аксессуары,' ~ product.name ~ ' отзывы,' ~ product.name ~ ' описание,' ~ product.name ~ ' фото,' ~ product.name ~ ' инструкции' %}
    {% set meta_description = product.metaDescription %}
    {% if product.imagesByType('thumbnail') is not empty %}
        {% set meta_image_path = product.imagesByType('thumbnail').first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
    {% elseif product.images.first %}
        {% set meta_image_path = product.images.first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
    {% else %}
        {% set meta_image_path = absolute_url(asset('build/img/logo.png')) %}
    {% endif %}
{% elseif resources.definition.driverConfiguration.repository.arguments.taxon is defined %}
    {% set taxon = resources.definition.driverConfiguration.repository.arguments.taxon %}
    {% set meta_title = 'Купить ' ~ taxon.name ~ ' в интернет-магазине ' ~ 'sylius.ui.store_name'|trans ~ ', низкие цены, отзывы владельцев. Большой каталог, описание, характеристики' %}
    {% set meta_keyword = taxon.name ~ ' купить,' ~ taxon.name ~ ' цена,' ~ taxon.name ~ ' интернет магазин,' ~ taxon.name ~ ' продажа,' ~ taxon.name ~ ' заказ,' ~ taxon.name ~ ' доставка,' ~ taxon.name ~ ' в подарок,' ~ taxon.name ~ ' аксессуары,' ~ taxon.name ~ ' отзывы,' ~ taxon.name ~ ' описание,' ~ taxon.name ~ ' фото,' ~ taxon.name ~ ' инструкции' %}
    {% set meta_description = taxon.description %}
    {% if taxon.imagesByType('thumbnail') is not empty %}
        {% set meta_image_path = taxon.imagesByType('thumbnail').first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
    {% elseif taxon.images.first %}
        {% set meta_image_path = taxon.images.first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
    {% else %}
        {% set meta_image_path = absolute_url(asset('build/img/logo.png')) %}
    {% endif %}
{% endif %}

{% if meta_title is not defined or meta_title is empty %}
    {% set meta_title = 'sylius.ui.store_title'|trans %}
{% endif %}
{% if meta_description is not defined or meta_description is empty %}
    {% set meta_description = 'sylius.ui.store_description'|trans %}
{% endif %}
{% if meta_keyword is not defined or meta_keyword is empty %}
    {% set meta_keyword = 'sylius.ui.store_keywords'|trans %}
{% endif %}
{% if meta_image_path is not defined or meta_image_path is empty %}
    {% set meta_image_path = absolute_url(asset('build/img/logo.png')) %}
{% endif %}

<title>{{ meta_title }}</title>
<meta name="keywords" content="{{ meta_keyword }}">
<meta name="description" content="{{ meta_description }}">

<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ domain }}" />
<meta property="og:locale" content="{{ app.request.locale }}" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:title" content="{{ meta_title }}" />
<meta property="og:description" content="{{ meta_description }}" />
<meta property="og:image" content="{{ meta_image_path }}" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="{{ meta_title }}" />
<meta name="twitter:description" content="{{ meta_description }}" />
<meta name="twitter:image" content="{{ meta_image_path }}">
