{% extends '@SyliusShop/layout.html.twig' %}

{% block metatags %}
    {% set meta_title = 'Условия доставки и оплата | Shop AUS - интернет-магазин цифровой и бытовой техники и электроники, низкие цены, большой каталог, отзывы. - Информация о компании — Shop AUS - Кемерово' %}
    {% set meta_keyword = 'условия доставки, оплата, shop aus, shop-aus, shopaus, шоп аус, шопаус, каталог шоп аус, каталог товаров шоп аус, товары шоп аус, сеть магазинов шоп аус, интернет-магазин шоп аус, бытовая техника, бытовая электроника, адреса магазинов shop aus, shop aus цены, продажа в шоп аус, доставка, телевизоры, ноутбуки, компьютеры apple, планшеты, сотовые телефоны, смартфоны, коммуникаторы, фотоаппараты, Кемерово' %}
    {% set meta_description = 'Условия доставки и оплата | Бытовая техника и электроника по доступным ценам в интернет-магазине Shop AUS и сети магазинов города Кемерово. Заказ товаров по телефону 8 (905) 949 91 11. Акции и скидки в Shop AUS.' %}
    {{ parent() }}
{% endblock %}

{% block content %}
<h2 class="ui icon center aligned header">
    <i class="info circle icon"></i>
    <div class="content">
        {{ 'sylius.ui.payment_and_delivery'|trans }}
        <div class="ui hidden divider"></div>
    </div>
</h2>
<p><b>Обращаем Ваше внимание, что минимальная сумма заказа {{ minimum_order_amount_delivery_regiom }} руб. для заказов за пределы г. Кемерово.</b></p>
<p><b>Для заказов в пределах г. Кемерово минимальная сумма заказа {{ minimum_order_amount_local_region }} руб.</b></p>
<p>Мы резервируем товары для Вашего заказа на складе только после поступления оплаты на наш счет! Отгрузка заказов на почту осуществляется через 2-4 раб. дней с момента поступления оплаты, при условии наличия всех товаров на складе. Доставка курьером на следующий день, если заказ был оформлен до 13:00, и мы смогли до Вас дозвониться, если же после 13:00, то доставка через день.</p>
<hr>

<h3>Самовывоз г.Кемерово</h3>
<p>Забрать заказ самостоятельно можно из пункта самовывоза, расположенного по адресу пр. Ленинградский 21, ТЦ Аустроник, 3 этаж. Уточнить адрес можно по контактному телефону в письме, которое было отправлено на почту, указанную при оформлении заказа.</p>
<p>Стоимость доставки со склада в пункт самовывоза - 0 руб.</p>

<h3>Доставка по всей России (кроме г. Кемерово)</h3>
<p>Доставку осуществляет ФГУП «Почта России». Доставка обычных посылок занимает около 7-14 дней во все регионы кроме Приморского края, Сахалина, Камчатки и Якутии, куда посылки идут 3-5 недель. Срок доставки при отправлении первым классом составляет 5-10 дней во все регионы. Стоимость будет рассчитана автоматически при оформлении заказа и добавлена в стоимость.</p>

<h3>Доставка в пределах г. Кемерово</h3>
<p>Доставка осуществляется курьерской службой в пределах г. Кемерово с понедельника по пятницу, в один из двух интервалов: с 9:00 до 14:00, либо с 14:00 до 21:00.</p>
<p>Стоимость доставки заказа составляет от 200руб в пределах г. Кемерово. Если вес заказа более 1кг, стоимость доставки может быть увеличена.</p>
<hr>

<h3>Оплата наличными</h3>
<p>Оплата наличными при получении заказа от курьера либо при самовывозе. Этот способ доступен только жителям г. Кемерово.</p>

<h3>Оплата банковской картой</h3>
<p>При оплате заказа укажите способ оплаты «Онлайн оплата». Ввод реквизитов карты происходит на нашем сайте через виджет Яндекс.Касса. Представленные Вами данные полностью защищены и никто, включая наш интернет-магазин, не может их получить.</p>

<h3>Оплата через Сбербанк Онлайн, Яндекс.Деньги, Apple Pay, Google Pay</h3>
<p>При оплате заказа укажите способ оплаты «Онлайн оплата», в виджете от Яндекс.Касса укажите необходимый способ оплаты. Представленные Вами данные полностью защищены и никто, включая наш интернет-магазин, не может их получить.</p>
{% endblock %}