{% extends '@SyliusShop/layout.html.twig' %}

{% block metatags %}
    {% set meta_title = 'Публичная оферта | Shop AUS - интернет-магазин цифровой и бытовой техники и электроники, низкие цены, большой каталог, отзывы. - Информация о компании — Shop AUS - Кемерово' %}
    {% set meta_keyword = 'публичная оферта, shop aus, shop-aus, shopaus, шоп аус, шопаус, каталог шоп аус, каталог товаров шоп аус, товары шоп аус, сеть магазинов шоп аус, интернет-магазин шоп аус, бытовая техника, бытовая электроника, адреса магазинов shop aus, shop aus цены, продажа в шоп аус, доставка, телевизоры, ноутбуки, компьютеры apple, планшеты,, сотовые телефоны, смартфоны, коммуникаторы, фотоаппараты, Кемерово' %}
    {% set meta_description = 'Публичная оферта | Бытовая техника и электроника по доступным ценам в интернет-магазине Shop AUS и сети магазинов города Кемерово. Заказ товаров по телефону 8 (905) 949 91 11. Акции и скидки в Shop AUS.' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <style>
        ul.numeric-decimals {
            counter-reset:section; list-style-type:none;
        }
        ul.numeric-decimals li {
            list-style-type:none;
        }
        ul.numeric-decimals li ul {
            counter-reset:subsection;
        }
        ul.numeric-decimals li:before{
            counter-increment: section;
            content: "Статья " counter(section) ". ";
        }
        ul.numeric-decimals li ul li:before {
            counter-increment: subsection;
            content: counter(section) "." counter(subsection) ". ";
        }
        ul.numeric-decimals li ul li ul li:before {
            counter-increment: subsection;
            content: counter(section) "." counter(subsection) "." counter(subsection) ". ";
        }
    </style>
    <h2 class="ui icon center aligned header">
        <i class="info circle icon"></i>
        <div class="content">
            {{ 'sylius.ui.public_offer'|trans }}
            <div class="ui hidden divider"></div>
        </div>
    </h2>
    <p>
        Договор-оферта интернет-магазина:
    </p>
    <p>
        ИП «Кузнецова», в лице интернет-магазина <a href="{{ path('sylius_shop_homepage') }}">{{ url('sylius_shop_homepage') }}</a> (далее ПРОДАВЕЦ), публикует настоящий договор, являющийся публичным договором-офертой в адрес как физических, так и юридических лиц (далее ПОКУПАТЕЛЬ) о нижеследующем:
    </p>
    <ul class="numeric-decimals">
        <li>
            <b>Предмет договора-оферты.</b>
            <ul>
                <li>
                    ПРОДАВЕЦ обязуется передать в собственность ПОКУПАТЕЛЮ, а ПОКУПАТЕЛЬ обязуется оплатить и принять заказанные в интернет-магазине <a href="{{ path('sylius_shop_homepage') }}">{{ url('sylius_shop_homepage') }}</a> товары (далее ТОВАР).
                </li>
            </ul>
        </li>
        <li>
            <b>Момент заключения договора.</b>
            <ul>
                <li>
                    Текст данного Договора является публичной офертой (в соответствии со статьей 435 и частью 2 статьи 437 Гражданского кодекса РФ).
                </li>
                <li>
                    Факт оформления ЗАКАЗА ТОВАРА у ПРОДАВЦА как самостоятельно, так и через оператора, является безоговорочным принятием данного Договора, и ПОКУПАТЕЛЬ рассматривается как лицо, вступившее с ИП «Кузнецова» в договорные отношения.
                </li>
                <li>
                    Оформление ЗАКАЗА ТОВАРА и расчета осуществляется путем заказа ПОКУПАТЕЛЕМ в интернет-магазине <a href="{{ path('sylius_shop_homepage') }}">{{ url('sylius_shop_homepage') }}</a>.
                </li>
            </ul>
        </li>
        <li>
            <b>Характеристики ТОВАРА.</b>
            <ul>
                <li>
                    В связи с разными техническими характеристиками устройств цвет ТОВАРА может отличаться от представленного на сайте.
                </li>
                <li>
                    Характеристики и внешний вид ТОВАРА могут отличаться от описанных на сайте.
                </li>
            </ul>
        </li>
        <li>
            <b>Цена ТОВАРА.</b>
            <ul>
                <li>
                    Цены в интернет-магазине указаны в валюте страны покупателя за единицу ТОВАРА.
                </li>
                <li>
                    Тарифы на оказание услуг по доставке, разгрузке, подъеме и сборке ТОВАРА указаны в интернет-магазине на каждый ТОВАР в зависимости от его характеристики.
                </li>
                <li>
                    Общая сумма ЗАКАЗА, которая в некоторых случаях (по желанию покупателя) может включать платную доставку и сборку ТОВАРА, указывается в разделе «Корзина» в строке «Итого».
                </li>
            </ul>
        </li>
        <li>
            <b>Оплата ТОВАРА.</b>
            <ul>
                <li>
                    При наличной форме оплаты ПОКУПАТЕЛЬ обязан уплатить ПРОДАВЦУ цену ТОВАРА в момент его передачи, а ПРОДАВЕЦ обязан предоставить ПОКУПАТЕЛЮ кассовый или товарный чек, или иной документ, подтверждающий оплату ТОВАРА.
                </li>
                <li>
                    При безналичной форме оплаты обязанность ПОКУПАТЕЛЯ по уплате цены ТОВАРА считается исполненной с момента зачисления соответствующих денежных средств в размере 100% (ста процентов) предоплаты при помощи формы оплаты при оформлении заказа в интернет-магазине <a href="{{ path('sylius_shop_homepage') }}">{{ url('sylius_shop_homepage') }}</a> ПРОДАВЦА.
                </li>
                <li>
                    ТОВАРЫ поставляются ПОКУПАТЕЛЮ по ценам, наименованию, в количестве, соответствующем счету, оплаченному ПОКУПАТЕЛЕМ.
                </li>
            </ul>
        </li>
        <li>
            <b>Доставка ТОВАРА.</b>
            <ul>
                <li>
                    Доставка ТОВАРА ПОКУПАТЕЛЮ осуществляется по адресу и в сроки, согласованные ПОКУПАТЕЛЕМ и менеджером ПРОДАВЦА при оформлении ЗАКАЗА, либо ПОКУПАТЕЛЬ самостоятельно забирает товар со склада ПРОДАВЦА по адресу, указанному в п. 13 (Реквизиты магазина) настоящего ДОГОВОРА.
                </li>
                <li>
                    Точная стоимость доставки ТОВАРА определяется менеджером ПРОДАВЦА при оформлении заказа и не может быть изменена после согласования ПОКУПАТЕЛЕМ.
                </li>
                <li>
                    Неявка ПОКУПАТЕЛЯ или не совершение иных необходимых действий для принятия ТОВАРА могут рассматриваться ПРОДАВЦОМ в качестве отказа ПОКУПАТЕЛЯ от исполнения ДОГОВОРА.
                </li>
            </ul>
        </li>
        <li>
            <b>Гарантии на товар.</b>
            <ul>
                <li>
                    Гарантийный срок эксплуатации на ТОВАР устанавливает производитель. Срок гарантии указывается в гарантийном талоне при отсутствии последнего гарантийный срок устанавливается ПРОДАВЦОМ не более 14 дней.
                </li>
            </ul>
        </li>
        <li>
            <b>Права и обязанности сторон.</b>
            <ul>
                <li>
                    ПРОДАВЕЦ обязуется:
                    <ul>
                        <li>
                            Не разглашать любую частную информацию ПОКУПАТЕЛЯ и не предоставлять доступ к этой информации третьим лицам, за исключением случаев, предусмотренных Российским законодательством.
                        </li>
                        <li>
                            Предоставить ПОКУПАТЕЛЮ возможность получения бесплатных телефонных консультаций по телефонам, указанным на сайте магазина (<a href="{{ path('sylius_shop_homepage') }}">{{ url('sylius_shop_homepage') }}</a>). Объем консультаций ограничивается конкретными вопросами, связанными с выполнениями ЗАКАЗА.
                        </li>
                        <li>
                            ПРОДАВЕЦ оставляет за собой право изменять настоящий ДОГОВОР в одностороннем порядке до момента его заключения.
                        </li>
                    </ul>
                </li>
                <li>
                    ПОКУПАТЕЛЬ обязуется:
                    <ul>
                        <li>
                            До момента заключения ДОГОВОРА ознакомиться с содержанием договора-оферты, условиями оплаты и доставки на сайте магазина (<a href="{{ path('sylius_shop_homepage') }}">{{ url('sylius_shop_homepage') }}</a>).
                        </li>
                        <li>
                            Предоставлять достоверную информацию о себе (ФИО, контактные телефоны, адрес электронной почты) и реквизиты для доставки ТОВАРА.
                        </li>
                        <li>
                            Принять и оплатить ТОВАР в указанные в настоящем ДОГОВОРЕ сроки.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <b>Ответственность сторон и разрешение споров.</b>
            <ul>
                <li>
                    Стороны несут ответственность за неисполнение или ненадлежащее исполнение настоящего ДОГОВОРА в порядке, предусмотренном настоящим ДОГОВОРОМ и действующим законодательством РФ.
                </li>
                <li>
                    Продавец не несет ответственности за доставку ЗАКАЗА, если ПОКУПАТЕЛЕМ указан неправильный адрес доставки.
                </li>
                <li>
                    ПРОДАВЕЦ не несет ответственности, если ожидания ПОКУПАТЕЛЯ о потребительских свойствах ТОВАРА оказались не оправданны.
                </li>
                <li>
                    ПРОДАВЕЦ не несет ответственности за частичное или полное неисполнение обязательств по доставке ТОВАРА, если они являются следствием форс-мажорных обстоятельств.
                </li>
                <li>
                    ПОКУПАТЕЛЬ, оформляя ЗАКАЗ, несет ответственность за достоверность предоставляемой информации о себе, а так же подтверждает, что с условиями настоящего ДОГОВОРА ознакомлен и согласен.
                </li>
                <li>
                    Все споры и разногласия, возникающие при исполнении СТОРОНАМИ обязательств по настоящему Договору, решаются путем переговоров. В случае невозможности их устранения, СТОРОНЫ имеют право обратиться за судебной защитой своих интересов.
                </li>
            </ul>
        </li>
        <li>
            <b>Возврат и обмен товара.</b>
            <ul>
                <li>
                    Требование ПОКУПАТЕЛЯ об обмене либо о возврате ТОВАРА подлежит удовлетворению, если ТОВАР не был в употреблении, сохранены его потребительские свойства, сохранена и не нарушена упаковка, сохранены документы, подтверждающие факт покупки этого ТОВАРА в интернет-магазине <a href="{{ path('sylius_shop_homepage') }}">{{ url('sylius_shop_homepage') }}</a>.
                </li>
                <li>
                    Срок такого требования составляет 14 (четырнадцать) дней с момента передачи ТОВАРА ПОКУПАТЕЛЮ.
                </li>
                <li>
                    ПОКУПАТЕЛЬ компенсирует ПРОДАВЦУ необходимые транспортные расходы, понесенные в связи с организацией обмена или возврата ТОВАРА.
                </li>
            </ul>
        </li>
        <li>
            <b>Форс-мажорные обстоятельства.</b>
            <ul>
                <li>
                    Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по Договору на время действия непреодолимой силы. Под непреодолимой силой понимаются чрезвычайные и непреодолимые при данных условиях обстоятельства, препятствующие исполнению своих обязательств СТОРОНАМИ по настоящему Договору. К ним относятся стихийные явления (землетрясения, наводнения и т. п.), обстоятельства общественной жизни (военные действия, чрезвычайные положения, крупнейшие забастовки, эпидемии и т. п.), запретительные меры государственных органов (запрещение перевозок, валютные ограничения, международные санкции запрета на торговлю и т. п.). В течение этого времени СТОРОНЫ не имеют взаимных претензий, и каждая из СТОРОН принимает на себя свой риск последствия форс-мажорных обстоятельств.
                </li>
            </ul>
        </li>
        <li>
            <b>Срок действия договора.</b>
            <ul>
                <li>
                    Настоящий ДОГОВОР вступает в силу с момента обращения в ИП «Кузнецова» и оформления ЗАКАЗА, и заканчивается при полном исполнении обязательств СТОРОНАМИ.
                </li>
            </ul>
        </li>
        <li>
            <b>Реквизиты интернет магазина.</b>
            <ul>
                <li>Актуальные реквизиты находятся в разделе «{{ 'sylius.ui.about'|trans }}» интернет-магазина (<a href="{{ path('app_footer_about') }}">{{ url('app_footer_about') }}</a>)</li>
            </ul>
        </li>
    </ul>
{% endblock %}
