{% extends '@SyliusShop/layout.html.twig' %}

{% block metatags %}
    {% set meta_title = 'Пользовательское соглашение | Shop AUS - интернет-магазин цифровой и бытовой техники и электроники, низкие цены, большой каталог, отзывы. - Информация о компании — Shop AUS - Кемерово' %}
    {% set meta_keyword = 'пользовательское соглашение, shop aus, shop-aus, shopaus, шоп аус, шопаус, каталог шоп аус, каталог товаров шоп аус, товары шоп аус, сеть магазинов шоп аус, интернет-магазин шоп аус, бытовая техника, бытовая электроника, адреса магазинов shop aus, shop aus цены, продажа в шоп аус, доставка, телевизоры, ноутбуки, компьютеры apple, планшеты,, сотовые телефоны, смартфоны, коммуникаторы, фотоаппараты, Кемерово' %}
    {% set meta_description = 'Пользовательское соглашение | Бытовая техника и электроника по доступным ценам в интернет-магазине Shop AUS и сети магазинов города Кемерово. Заказ товаров по телефону 8 (905) 949 91 11. Акции и скидки в Shop AUS.' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <style>
        ul.numeric-decimals {
            counter-reset:section; list-style-type:none;
        }
        ul.numeric-decimals li {
            list-style-type:none;
        }
        ul.numeric-decimals li ul {
            counter-reset:subsection;
        }
        ul.numeric-decimals li:before{
            counter-increment: section;
            content: counter(section) ". ";
        }
        ul.numeric-decimals li ul li:before {
            counter-increment: subsection;
            content: counter(section) "." counter(subsection) ". ";
        }
        ul.numeric-decimals li ul li ul li:before {
            counter-increment: subsection;
            content: counter(section) "." counter(subsection) "." counter(subsection) ". ";
        }
    </style>
    <h2 class="ui icon center aligned header">
        <i class="info circle icon"></i>
        <div class="content">
            {{ 'sylius.ui.terms_and_conditions'|trans }}
            <div class="ui hidden divider"></div>
        </div>
    </h2>
    <p>
        Индивидуальный предприниматель {{ 'sylius.ui.your_store'|trans }}, именуемый(ая) в дальнейшем Правообладатель, зарегистрированный(ая) в Едином государственном реестре индивидуальных предпринимателей под №313420526100013, адресует настоящее Соглашение (далее по тексту - Соглашение) любому лицу (неопределенному кругу лиц), выразившему готовность заключить договор на изложенных ниже условиях (далее по тексту - Пользователь).
    </p>
    <p>
        Данное Соглашение, согласно п. 2 ст. 437 Гражданского кодекса Российской Федерации, является публичной офертой, принятием условий (акцептом) которой является совершение действий, предусмотренных Соглашением.
    </p>
    <ul class="numeric-decimals">
        <li>
            <b>Определения</b>
            <ul>
                <li>
                    Условия Соглашения регулируют отношения Правообладателя и Пользователя и содержат следующие определения:
                    <ul>
                        <li>
                            <b>Оферта</b> — настоящий документ (Соглашение), размещенный в сети Интернет по адресу: <a href="{{ path('sylius_shop_homepage') }}">{{ url('sylius_shop_homepage') }}</a>
                        </li>
                        <li>
                            <b>Акцепт</b> — полное и безоговорочное принятие оферты путем осуществления действий, указанных в п. 3.1  Соглашения.
                        </li>
                        <li>
                            <b>Правообладатель</b>Заказ Товара может быть оформ - индивидуальный предприниматель ({{ 'sylius.ui.your_store'|trans }}), разместивший(ая) оферту.
                        </li>
                        <li>
                            <b>Пользователь</b> — юридическое или дееспособное физическое лицо, заключившее Соглашение посредством акцепта на условиях, содержащихся в оферте.
                        </li>
                        <li>
                            <b>Интернет-магазин</b> - сайт, специально созданный для покупок и продаж посредством сети Интернет (далее по тексту - Сайт).
                        </li>
                        <li>
                            <b>Контент</b> - информация, представленная в текстовом, графическом, аудиовизуальном (видео) форматах на Сайте, являющаяся его наполнением. Контент Сайта распределяется на основной – пользовательский, и вспомогательный – административный, который создает Правообладатель для облегчения функционирования Сайта, включая интерфейс Сайта.
                        </li>
                        <li>
                            <b>Простая (неисключительная) лицензия</b> - неисключительное право Пользователя использовать результат интеллектуальной деятельности, указанный в п. 2.1 Соглашения, с сохранением за Правообладателем права выдачи лицензий другим лицам.
                        </li>
                        <li>
                            <b>Товар</b> - Продукт, представленный к продаже на Сайте Правообладателя.
                        </li>
                        <li>
                            <b>Заказ</b> – должным образом оформленный запрос Пользователя на приобретение и доставку по указанному им адресу перечня Товаров, выбранных на Сайте Правообладателя.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <b>Предмет Соглашения</b>
            <ul>
                <li>
                    Настоящее Соглашение определяет условия и порядок использования Пользователем Интернет-магазина - {{ 'sylius.ui.your_store'|trans }}, который принадлежит и администрируется Правообладателем (далее по тексту - Сайт).
                </li>
                <li>
                    К отношениям между Правообладателем и Пользователем применяются положения главы 30 Гражданского кодекса Российской Федерации о розничной купле-продаже, а также Закон РФ «О защите прав потребителей» от 07.02.1992 № 2300-1 и иные правовые акты, принятые в соответствии с ними.
                </li>
                <li>
                    Правообладатель гарантирует, что он является правообладателем исключительных прав на Сайт, указанный в п. 2.1 Соглашения.
                </li>
                <li>
                    Заказывая Товары через Сайт, Пользователь соглашается с условиями продажи Товаров, расположенными по ссылке: <a href="{{ path('app_footer_termsofuse') }}">{{ url('app_footer_termsofuse') }}</a>
                </li>
                <li>
                    Заказ Товара может быть оформлен Пользователем следующими способами:
                    <div>- принят по телефону: 89059499111 или по электронной почте: kuztg69@mail.ru;</div>
                    <div>- оформлен Пользователем самостоятельно на Сайте Правообладателя.</div>
                </li>
                <li>
                    Пользователь самостоятельно осуществляет выбор товара на Сайте и помещает его в Корзину для оформления заказа. Помещение Товара в Корзину не является заказом, Пользователь до начала оформления заказа может самостоятельно удалять и добавлять Товары в Корзине.
                </li>
                <li>
                    Перед заказом Товара Пользователь обязуется ознакомиться с правилами доставки и оплаты заказа, а также условиями возврата Товара, расположенными по ссылке: <a href="{{ path('app_footer_publicoffer') }}">{{ url('app_footer_publicoffer') }}</a>
                </li>
            </ul>
        </li>
        <li>
            <b>Согласие с условиями соглашения</b>
            <ul>
                <li>
                    Акцептом (принятием оферты) является нажатие Пользователем кнопки "С условиями Соглашения ознакомился и согласен".
                </li>
                <li>
                    Договор купли-продажи Товара считается заключенным с момента выдачи  Правообладателем Пользователю кассового или товарного чека либо иного документа, подтверждающего оплату Товара, или с момента получения Правообладателем сообщения о намерении Пользователя приобрести Товар.
                </li>
                <li>
                    Совершая действия по принятию оферты в порядке, определенном п. 3.1 Соглашения, Пользователь гарантирует, что ознакомлен, соглашается, полностью и безоговорочно принимает все условия Соглашения, обязуется их соблюдать.
                </li>
                <li>
                    Настоящим Пользователь подтверждает, что акцепт (совершение действий по принятию оферты) равносилен подписанию и заключению Соглашения на условиях, изложенных в настоящем Соглашении.
                </li>
                <li>
                    Оферта вступает в силу с момента размещения в сети Интернет по адресу <a href="{{ path('app_footer_publicoffer') }}">{{ url('app_footer_publicoffer') }}</a> и действует до момента отзыва оферты.
                </li>
                <li>
                    Настоящее Соглашение размещено в письменном виде на Сайте. В случае необходимости любому лицу по его запросу может быть предоставлена возможность ознакомиться с бумажной версией Соглашения в офисе Правообладателя.
                </li>
                <li>
                    Соглашение может быть принято исключительно в целом (п. 1 ст. 428 Гражданского кодекса Российской Федерации). После принятия Пользователем условий настоящего Соглашения оно приобретает силу договора, заключенного между Правообладателем и Пользователем, при этом такой договор как бумажный документ, подписанный обеими Сторонами, не оформляется.
                </li>
                <li>
                    Правообладатель оставляет за собой право вносить изменения в настоящее Соглашение без какого-либо специального уведомления, в связи с чем Пользователь обязуется регулярно отслеживать изменения в Соглашении. Новая редакция Соглашения вступает в силу с момента ее размещения на данной странице, если иное не предусмотрено новой редакцией Соглашения. Действующая редакция Соглашения всегда находится на данной странице по адресу: <a href="{{ path('app_footer_termsofuse') }}">{{ url('app_footer_termsofuse') }}</a>
                </li>
            </ul>
        </li>
        <li>
            <b>Права и обязанности сторон</b>
            <ul>
                <li>
                    Правообладатель обязуется:
                    <ul>
                        <li>
                            В течение 30 календарных дней со дня получения соответствующего письменного уведомления Пользователя своими силами и за свой счет устранить выявленные Пользователем недостатки Сайта, а именно:
                            <div>- несоответствие содержания Сайта данным, указанным в п. 2.1 Соглашения;</div>
                            <div>- наличие в составе Сайта материалов, запрещенных к распространению законодательством.</div>
                        </li>
                        <li>
                            Предоставить Пользователю информацию об основных потребительских свойствах Товара, о месте изготовления товара, полном фирменном наименовании (наименовании) Правообладателя, о цене и об условиях приобретения Товара, о его доставке, сроке службы, сроке годности и гарантийном сроке, о порядке оплаты Товара, а также о сроке, в течение которого действует предложение о заключении договора, то есть полную, достоверную и доступную информацию, характеризующую предлагаемый Товар.
                        </li>
                        <li>
                            Воздерживаться от каких-либо действий, способных затруднить осуществление Пользователем предоставленного ему права использования Сайта в установленных Соглашением пределах.
                        </li>
                        <li>
                            Предоставлять информацию по вопросам работы с Сайтом посредством электронной почты. Актуальные адреса электронной почты находятся в разделе "{{ 'sylius.ui.about'|trans }}" Сайта по адресу: <a href="{{ path('app_footer_about') }}">{{ url('app_footer_about') }}</a>
                        </li>
                        <li>
                            После оформления Заказа на Сайте отправить Пользователю подтверждение email-сообщением либо посредством телефонного звонка менеджера. Менеджер, курирующий данный Заказ, должен уточнить детали Заказа, согласовать дату, место и время доставки. При отсутствии на складе Правообладателя заказанного Товара или необходимого количества заказанного Товара, Правообладатель информирует об этом Пользователя посредством телефонного звонка либо email-сообщения.
                        </li>
                        <li>
                            Использовать все личные данные и иную конфиденциальную информацию о Пользователе только для оказания услуг в соответствии с Соглашением, не передавать третьим лицам находящуюся у него документацию и информацию о Пользователе.
                        </li>
                        <li>
                            Обеспечивать конфиденциальность информации, введенной Пользователем при использовании Сайта через личную учетную запись Пользователя, за исключением случаев размещения такой информации в общедоступных разделах Сайта (например, чат).
                        </li>
                        <li>
                            Консультировать Пользователя по всем вопросам, касающимся Сайта. Сложность вопроса, объем, и сроки консультирования определяются в каждом конкретном случае Правообладателем самостоятельно.
                        </li>
                    </ul>
                </li>
                <li>
                    Пользователь обязуется:
                    <ul>
                        <li>
                            Использовать Сайт только в пределах тех прав и теми способами, которые предусмотрены в Соглашении.
                        </li>
                        <li>
                            Указать при оформлении Заказа  следующую информацию о своих контактных данных, номере телефона, фамилии, имени отчестве, адресе и времени доставки Заказа, об электронном почтовом адресе, а также при необходимости оставить свои комментарии.
                        </li>
                        <li>
                            Строго придерживаться и не нарушать условий Соглашения, а также обеспечить конфиденциальность полученной при сотрудничестве с Правообладателем коммерческой и технической информации.
                        </li>
                        <li>
                            Воздерживаться от копирования в любой форме, а также от  изменения, дополнения, распространения Сайта, контента Сайта (либо любой его части), а также воздерживаться от создания на его основе производных объектов без предварительного письменного разрешения Правообладателя.
                        </li>
                        <li>
                            Не использовать никаких приборов либо компьютерных программ для вмешательства или попытки вмешательства в процесс нормального функционирования Сайта.
                        </li>
                        <li>
                            Незамедлительно информировать Правообладателя обо всех ставших ему известных фактах противоправного использования Сайта третьими лицами.
                        </li>
                        <li>
                            Использовать Сайт, не нарушая имущественных и/или личных неимущественных прав третьих лиц, а равно запретов и ограничений, установленных применимым правом, включая без ограничения: авторские и смежные права, права на товарные знаки, знаки обслуживания и наименования мест происхождения товаров, права на промышленные образцы, права на использование изображений людей.
                        </li>
                        <li>
                            Не допускать размещение и передачу материалов незаконного, неприличного, клеветнического, дискредитирующего, угрожающего, порнографического, враждебного характера, а также содержащих домогательства и признаки расовой или этнической дискриминации, призывающих к совершению действий, которые могут считаться уголовным преступлением или являться нарушением какого-либо законодательства, равно как и считаться недопустимыми по иным причинам, материалов, пропагандирующих культ насилия и жестокости, материалов, содержащих нецензурную брань.
                        </li>
                        <li>
                            Не распространять рекламные материалы в личных сообщениях иным Пользователям без получения их предварительного согласия на получение таких материалов (СПАМ).
                        </li>
                        <li>
                            Исполнять иные обязанности, предусмотренные Соглашением.
                        </li>
                    </ul>
                </li>
                <li>
                    Правообладатель вправе:
                    <ul>
                        <li>
                            Приостановить или прекратить регистрацию и доступ Пользователя на Сайт, если Правообладатель будет обоснованно считать, что Пользователь ведет неправомерную деятельность.
                        </li>
                        <li>
                            Собирать информацию о предпочтениях Пользователей и способах использования ими Сайта (наиболее часто используемые функции, настройки, предпочитаемое время и продолжительность работы с Сайтом и прочее), которая не является персональными данными, для улучшения работы Сайта, диагностики и профилактики сбоев Сайта.
                        </li>
                        <li>
                            Вносить в одностороннем порядке изменения в Соглашение путем издания его новых редакций.
                        </li>
                        <li>
                            Удалять пользовательский контент по требованию уполномоченных органов или заинтересованных лиц в случае, если данный контент нарушает применимое законодательство или права третьих лиц.
                        </li>
                        <li>
                            Временно прекращать работу Сайта, а равно частично ограничивать или полностью прекращать доступ к Сайту до завершения необходимого технического обслуживания и (или) модернизации Сайта.  Пользователь не вправе требовать возмещения убытков за такое временное прекращение оказания услуг или ограничение доступности Сайта.
                        </li>
                    </ul>
                </li>
                <li>
                    Пользователь вправе:
                    <ul>
                        <li>
                            Использовать Сайт в пределах и способами, предусмотренными Соглашением.
                        </li>
                        <li>
                            Отказаться от Товара в любое время до его передачи, а после передачи Товара - в течение 7 дней. В случае если информация о порядке и сроках возврата Товара надлежащего качества не была предоставлена в письменной форме в момент доставки Товара,  Пользователь вправе отказаться от Товара в течение 3 месяцев с момента передачи Товара. Возврат Товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного Товара. Отсутствие у  Пользователя указанного документа не лишает его возможности ссылаться на другие доказательства приобретения Товара. Пользователь не вправе отказаться от Товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный Товар может быть использован исключительно приобретающим его потребителем. При отказе  Пользователя от Товара  Правообладатель должен возвратить ему упалченную им сумму, за исключением своих расходов  на доставку возвращенного товара, не позднее чем через 10 дней с даты предъявления Пользователем  соответствующего требования.
                        </li>
                    </ul>
                </li>
                <li>
                    Пользователь не вправе давать согласие на выполнение настоящего Соглашения в случаях, если у него нет законного права использовать Сайт в стране, в которой находится или проживает, или если он не достиг возраста, с которого имеет право заключать данное Соглашение.
                </li>
            </ul>
        </li>
        <li>
            <b>Условия и порядок использования</b>
            <ul>
                <li>
                    При условии выполнения Пользователем настоящего Соглашения, Пользователю предоставляется простая (неисключительная) лицензия на использование Сайта с помощью персонального компьютера, мобильного телефона или другого устройства, в объеме и порядке, установленном Соглашением, без права предоставления сублицензий и переуступки.
                </li>
                <li>
                    В соответствии с условиями Соглашения Правообладатель предоставляет Пользователю право использования Сайта следующими способами:
                    <ul>
                        <li>
                            Использовать Сайт для просмотра, ознакомления, оставления комментариев и иных записей и реализации иного функционала Сайта, в том числе путем воспроизведения на мониторе (экране) соответствующего технического средства Пользователя;
                        </li>
                        <li>
                            Кратковременно загружать в память ЭВМ для целей использования Сайта и его функционала;
                        </li>
                        <li>
                            Цитировать элементы пользовательского контента Сайта с указанием источника цитирования, включающего ссылку на URL-адрес Сайта.
                        </li>
                        <li>
                            Способ использования: Интернет браузер.
                        </li>
                    </ul>
                </li>
                <li>
                    Пользователь не вправе предпринимать указанные ниже действия при использовании Сайта, а равно любых составных частей Сайта:
                    <ul>
                        <li>
                            Модифицировать или иным образом перерабатывать Сайт, в том числе, осуществлять перевод на другие языки.
                        </li>
                        <li>
                            Копировать, распространять или перерабатывать материалы и сведения, содержащиеся на Сайте, за исключением случаев, когда это необходимо и вызвано реализацией функционала, доступного  как конкретному Пользователю.
                        </li>
                        <li>
                            Нарушать целостность защитной системы или осуществлять какие-либо действия, направленные на обход, снятие или деактивацию технических средств защиты; использовать какие-либо программные коды, предназначенные для искажения, удаления, повреждения, имитации или нарушения целостности Сайта, передаваемой информации или протоколов.
                        </li>
                    </ul>
                </li>
                <li>
                    Любые права, не предоставленные Пользователю в явной форме в соответствии с настоящим Соглашением, сохраняются за Правообладателем.
                </li>
                <li>
                    Сайт предоставляется  Правообладателем в состоянии «Как есть» ("AS IS"), без гарантийных обязательств Правообладателя или какой-либо обязанности по устранению недостатков, эксплуатационной поддержке и усовершенствованию.
                </li>
                <li>
                    Принимая условия настоящего Соглашения, Пользователь безвозмездно предоставляет Правообладателю и другим Пользователям неисключительное безвозмездное право использования (простую лицензию) материалов, которые Пользователь добавляет (размещает) на Сайте в разделах, предназначенных для доступа всех или части Пользователей (чаты, обсуждения, комментарии и прочее). Указанные право и/или разрешение на использование материалов предоставляются одновременно с добавлением Пользователем таких материалов на Сайт на весь срок действия исключительных прав на объекты интеллектуальной собственности или защиты неимущественных прав на указанные материалы для их использования на территории всех стран мира.
                </li>
            </ul>
        </li>
        <li>
            <b>Персональные данные и политика конфиденциальности</b>
            <ul>
                <li>
                    Для выполнения условий Соглашения Пользователь соглашается предоставить и дает согласие на обработку персональных данных в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных» на условиях и для целей надлежащего исполнения  Соглашения. Под «персональными данными» понимается персональная информация, которую Пользователь предоставляет о себе самостоятельно для совершения акцепта.
                </li>
                <li>
                    Правообладатель гарантирует конфиденциальность в отношении персональных данных Пользователя и предоставляет доступ к персональным данным только тем сотрудникам, которым эта информация необходима для выполнения условий Соглашения, обеспечивая соблюдение указанными лицами конфиденциальности персональных данных и безопасности персональных данных при их обработке. Также  Правообладатель обязуется сохранять конфиденциальность всех сведений, полученных от Пользователей, независимо от содержания таких сведений и способов их получения.
                </li>
                <li>
                    Полученная  Правообладателем информация (персональные данные) не подлежит разглашению, за исключением случаев, когда ее раскрытие является обязательным по законодательству Российской Федерации или необходимо для работы Сайта и его функций (например, при публикации комментариев в разделе Сайта «Комментарии» под написанным Пользователем комментарием отображаются имя, дата и время отправки комментария).
                </li>
            </ul>
        </li>
        <li>
            <b>Ответственность сторон</b>
            <ul>
                <li>
                    Стороны несут ответственность за неисполнение или ненадлежащее исполнение своих обязательств в соответствии с законодательством России.
                </li>
                <li>
                    Правообладатель не принимает на себя ответственность за соответствие Сайта целям использования.
                </li>
                <li>
                    Правообладатель не несет ответственности за  технические перебои в работе Сайта. Вместе с тем Правообладатель обязуется принимать все разумные меры для предотвращения таких перебоев.
                </li>
                <li>
                    Правообладатель не несет ответственности за любые действия Пользователя, связанные с использованием предоставленных прав использования  Сайта; за ущерб любого рода, понесенный Пользователем из-за утери и/или разглашения своих данных либо в процессе использования Сайта.
                </li>
                <li>
                    В случае если какое-либо третье лицо предъявляет Правообладателю претензию в связи с нарушением Пользователем Соглашения либо действующих законодательных норм, нарушением Пользователем прав третьих лиц (в том числе прав на интеллектуальную собственность), Пользователь  обязуется компенсировать Правообладателю все расходы и потери, в том числе оплатить любые компенсации и прочие затраты, связанные с такой претензией.
                </li>
                <li>
                    Правообладатель не несет ответственности за содержание сообщений или материалов Пользователей Сайта (пользовательский контент), любые мнения, рекомендации или советы, содержащиеся в таком контенте. Правообладатель не осуществляет предварительную проверку содержания, подлинности и безопасности этих материалов либо их компонентов, а равно их соответствия требованиям применимого права, и наличия у Пользователей необходимого объема прав на их использование в обязательном порядке.
                </li>
                <li>
                    Правообладатель не несет ответственности за ущерб, причиненный Пользователю вследствие ненадлежащего использования Товаров, заказанных на Сайте.
                </li>
            </ul>
        </li>
        <li>
            <b>Разрешение споров</b>
            <ul>
                <li>
                    Претензионный порядок досудебного урегулирования споров, вытекающих из настоящего Соглашения, является для Сторон обязательным.
                </li>
                <li>
                    Претензионные письма направляются Сторонами нарочным либо заказным почтовым отправлением с уведомлением о вручении по адресу местонахождения Стороны.
                </li>
                <li>
                    Направление Сторонами претензионных писем иным способом, чем указано в п. 8.2 Соглашения, не допускается.
                </li>
                <li>
                    Срок рассмотрения претензионного письма составляет 14 рабочих дней со дня получения последнего адресатом.
                </li>
                <li>
                    Споры по настоящему Соглашению разрешаются в судебном порядке в соответствии с законодательством.
                </li>
            </ul>
        </li>
        <li>
            <b>Заключительные положения</b>
            <ul>
                <li>
                    Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные настоящим Соглашением, подлежат разрешению в соответствии с законодательством Российской Федерации. Все возможные споры, вытекающие из отношений, регулируемых настоящим Соглашением, разрешаются в порядке, установленном действующим законодательством Российской Федерации, по нормам российского права. Везде по тексту настоящего Соглашения под термином «законодательство» понимается законодательство Российской Федерации.
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}
