{# @SyliusShop/Taxon/_horizontalMenu.html.twig #}

{% macro item(taxon) %}
    {% import _self as macros %}

    {% if taxon.children|length > 0 %}
        <div class="ui dropdown item">
            <span class="text">{{ taxon.name }}</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                {% for childTaxon in taxon.children %}
                    {{ macros.item(childTaxon) }}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.locale}) }}" class="item">{{ taxon.name }}</a>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

{% set cols = 5 %}
{% for taxon in taxon_list %}
    {% if loop.index0 % cols == 0 %}
        <div class="ui large stackable menu">
    {% endif %}
    {{ macros.item(taxon) }}
    {% if (loop.index0 % cols == cols - 1 or loop.last) %}
        </div>
    {% endif %}
{% endfor %}
