{% form_theme form '@SyliusAdmin/Form/theme.html.twig' %}

<div class="ui segment">
    <div class="one fields">
        {{ form_row(form) }}
    </div>
</div>

<script>
    let taxon_list = {{ taxon_list|json_encode|raw }}
</script>
