<div class="ui fluid card">
    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.locale}) }}" class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">{{ 'sylius.ui.view_more'|trans }}</div>
                </div>
            </div>
        </div>
        {% if product.image_path is not empty %}
            {% set path = product.image_path %}
        {% else %}
            {% set path = '//placehold.it/200x200' %}
        {% endif %}
        <img src="{{ path }}" alt="{{ product.name }}" class="ui bordered image" />
    </a>
    <div class="content">
        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.locale}) }}" class="header sylius-product-name">{{ product.name }}</a>
        <div class="sylius-product-price">{{ product.price }}</div>
    </div>
</div>
