{# @SyliusShop/Common/Form/_address.html.twig #}

<div class="two fields">
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
</div>
{{ form_row(form.phoneNumber) }}
{{ form_row(form.inlineAddress) }}
<span class="ui tag label">
    {{ 'sylius.form.address.inline_address_help'|trans }}
</span>
<div class="ui divider"></div>
{{ form_row(form.street) }}

{% include '@SyliusShop/Common/Form/_countryCode.html.twig' with {'form': form.countryCode} %}

<div class="province-container field" data-url="{{ path('sylius_shop_ajax_render_province_form') }}">
    {% if form.provinceCode is defined %}
        {{ form_row(form.provinceCode, {'attr': {'class': 'ui dropdown'}}) }}
    {% elseif form.provinceName is defined %}
        {{ form_row(form.provinceName) }}
    {% endif %}
</div>

{% if form.provinceCode is defined %}
    {{ form_errors(form) }}
{% endif %}

<div class="two fields">
    {{ form_row(form.city) }}
    {{ form_row(form.postcode) }}
</div>
