{# @SyliusShop/Register/_form.html.twig #}

<h4 class="ui dividing header">{{ 'sylius.ui.personal_information'|trans }}</h4>
<div class="two fields">
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
</div>
{{ form_row(form.email) }}
{{ form_row(form.phoneNumber) }}
{{ form_row(form.subscribedToNewsletter) }}
<div class="field">
    <div class="ui toggle checkbox">
        {{ form_widget(form.privacy_policy_terms_of_use) }}
        <label for="sylius_checkout_address_privacy_policy_terms_of_use">
            Регистрируясь, я подтверждаю, что принимаю <a target="_blank" href="{{ path('app_footer_privacypolicy') }}">политику конфиденциальности</a> и <a target="_blank" href="{{ path('app_footer_termsofuse') }}">пользовательское соглашение</a>.
        </label>
        {{ form_errors(form.privacy_policy_terms_of_use) }}
    </div>
</div>
<h4 class="ui dividing header">{{ 'sylius.ui.account_credentials'|trans }}</h4>
{{ form_row(form.user.plainPassword.first) }}
{{ form_row(form.user.plainPassword.second) }}

